Flask==2.0.1
gunicorn==19.9.0
Jinja2==3.0.1
MarkupSafe==2.0.1
Werkzeug==2.0.1
numpy==1.20.3
scipy>=0.15.1
nltk==3.5
scikit-learn>=0.18
pandas>=0.19
beautifulsoup4==4.9.1
jsonschema==3.2.0
tmdbv3api==1.6.1
lxml==4.6.3
urllib3==1.26.5
requests==2.25.1
pickleshare==0.7.5
pydub==0.25.1
sounddevice==0.4.6
deepgram-sdk==2.11.0
python-dotenv==1.0.0
pyttsx3==2.90
SpeechRecognition==3.8.1
gTTS==2.3.2
pygame==2.0.1
PyAudio==0.2.11
itsdangerous==2.0.1
click==8.0.1